<p>
  <strong>User:</strong>
  <%= @trip.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trip.planet.name %>
</p>

<p>
  <strong>Cabin:</strong>
  <%= @trip.cabin.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trip.price %>
</p>

<%=image_tag @trip.picture, class: "main-image" if @trip.picture.attached?%>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
