<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top"> 
    <div class="navbar-">
      <%= image_tag("default_image.jpg", width: '70px' )%>
    </div>

    <div class= "container-fluid"> 
        <%=link_to "Space Up", root_path, class:"nav-link"%>
    </div>

    <ul class="navbar-nav mr-5-lg"> 

    <% if user_signed_in? %>
        <li class="nav-item">
            <%=link_to "Trips", trips_path, class: "nav-link"%>
        </li> 
        
        <li class="nav-item">
            <%=link_to "Create a trip", new_trip_path, class: "nav-link"%>
        </li>

        <li class="nav-item">
            <%=link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link"%>
        </li>
    <%else%>
        <li class="nav-item">
            <%=link_to "Log in", new_user_session_path, class: "nav-link"%>
        </li>

        <li class="nav-item">
            <%=link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
        </li>

    <%end%>

    </ul>
</nav>